<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.26.0" targetFramework="net452" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="Faker" version="1.2" targetFramework="net452" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net452" />
  <package id="NLog" version="4.4.3" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.3" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.3" targetFramework="net452" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net452" />
  <package id="ServiceStack.OrmLite.MySql" version="3.9.71" targetFramework="net452" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" targetFramework="net452" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net452" />
  <package id="TestDataGenerator" version="0.0.8" targetFramework="net452" />
</packages>